<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>House</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :application, media: :all %>
  </head>
  <body>
    <%= yield %>

    <!-- For debugging purpose
    <%= javascript_tag do %>
      var DB = {};
      DB.households = <%= raw serialize_collection(@households).to_json %>;
      DB.people = <%= raw serialize_collection(@people).to_json %>;
      DB.vehicles = <%= raw serialize_collection(@vehicles).to_json %>;
    <% end %>
    -->

    <%= javascript_include_tag 'vendor.bundle' %>
    <%= javascript_include_tag 'bundle' %>
  </body>
</html>
